{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

{% block content%}
<style>
    .row{
        color: white;
        border-top: .1em solid white;
        height: 100%;
        width: auto;
        background-image: url(https://wallpaperaccess.com/full/702861.jpg);
        background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  min-height:100%;
    }

</style>
<body>
    <h2 class="text-center">PROFESSIONAL LAWYERS,JUDGES & LEGAL PROCEDURES</h2>
    <div class="row">
        
        <div class="col-6">
            Hi
        </div>
        <div class="col-6">
            Hi
        </div>
    </div>
</body>
{% endblock%}
</html>