{% load bootstrap4 %}
{% load static%}
{% if title %}
<title>JUDICIAL - {{title}}</title>
{% else %}
  <title> JUDICIAL SERVICE </title>
{% endif %}
{% block styles %}
{% bootstrap_css %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
rel="stylesheet" 
integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" 
crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


    {% include 'navbar.html' %}


{% block content %}

{% endblock %}