{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
</head>
{% block content%}
<body class="container" style="margin: 2em;">
    

    
        
<div class="container col-12">
    <div style="border: solid .3em rgb(14, 14, 58); padding-bottom: 4em; border-radius: .5%;">
    <h2 style="color: rgb(14, 14, 58);" class="text-center">LAW & FIRMS</h2>
    <img style="  display: block; margin-left: auto; margin-right: auto; width: 50%;" class="rounded-top-bottom" src="https://cdn.dribbble.com/users/5976/screenshots/14088031/media/80e1b64b62f24440f16c83f6ab496bc7.png?compress=1&resize=768x576&vertical=top" alt="">
    <div style="display: flex; flex-direction: row; justify-content: space-around;" >
        <button style="border-radius: 5%;" class="btn-outline-primary">Sign up</button> <br> <button style="border-radius: 5%;" class="btn-outline-primary">Login</button>
    </div>
</div>

    

</div>
        
    




</body>
{% endblock %}
</html>