{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block content %}
<style>
    *{
        margin: 0%;
        padding: 0%;
        
    }

    .container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-gap: .2em;
    }
    .profile{
        border: .2em solid #d44b0b;
    }
    #headerHome{
        color: #d44b0b;
    }

    #headerHome:hover{
        color: white;
        
    }
</style>
<body>
<u id="headerHome"><h2 class="text-center">PROFESSIONAL LAWYERS,JUDGES & LEGAL PROCEDURES</h2></u>
<div class="container">
    <div class="profile" id="">
        <h4 class="text-center">Personal Information</h4>
        <table>
        <tr>
          <th>Name</th>
          <th>Service No.</th>
          <th>Email</th>
          <th>Home address</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="profile" id="">
        <h4 class="text-center">Court of Work</h4>
        <table>
        <tr>
          <th>Name</th>
          <th>Superiority</th>
          <th>Location</th>
          <th>.......</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="profile" id="">
        <h4 class="text-center">Department of work</h4>
        <table>
        <tr>
          <th>Department Name</th>
          <th>Number of staff</th>
          <th>Court</th>
          <th>........</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="profile" id="">
        <h4 class="text-center">My Contact Information</h4>
        <table>
        <tr>
          <th>Name</th>
          <th>Phone1</th>
          <th>Phone2</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td>Germany</td>
        </tr>
      </table>
    </div>
</div>
</body>
{% endblock %}
</html>